<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О нас</title>
  <link rel="stylesheet" href="/css/styleAboutUs.css"> <!-- Подключите свой CSS файл -->
</head>
<body>

<div class="text">
  <h1>О нас</h1>
</div>

<div class="container">
  <main>
    <p>Добро пожаловать на наш блог! Мы - команда увлеченных людей, которые любят делиться своими мыслями, идеями и опытом с вами. Наша цель - создать пространство, где каждый может найти что-то интересное и полезное.</p>

    <h2>Наша миссия</h2>
    <p>Мы стремимся вдохновлять и информировать наших читателей, предоставляя качественный контент на разнообразные темы, включая технологии, здоровье, путешествия и многое другое.</p>

    <h2>Наша команда</h2>
    <div class="team">
      <div class="team-member">
        <h3>Иван Иванов</h3>
        <p>Основатель и главный редактор</p>
      </div>
      <div class="team-member">
        <h3>Мария Петрова</h3>
        <p>Контент-менеджер</p>
      </div>
    </div>

    <h2>Связаться с нами</h2>
    <p>Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами по электронной почте: <a class="contact-link" href="mailto:info@blog.com">info@blog.com</a>.</p>
  </main>

  <div class="sidebar">
    <div class="account-info" th:if="${currentUser  != null}">
      <h2>Аккаунт</h2>
      <div class="account-details">
        <div class="account-circle">
          <img th:src="${currentUser .avatarUrl}" alt="Профиль" class="profile-image">
        </div>
        <div class="account-text">
          <p>Имя пользователя: <strong th:text="${currentUser .userLogin}">Пользователь</strong></p>
          <p>Роль: <strong th:text="${currentUser .role}">Пользователь</strong></p>
        </div>
      </div>
      <p>
        <a th:href="@{/account-settings}" class="settings-button">Настройки аккаунта</a>
      </p>
      <p>
        <a th:href="@{/user-posts/{id}(id=${currentUser.id})}" class="edit-posts-button">Редактировать посты</a> <!-- Кнопка редактирования постов -->
      </p>
      <form action="#" th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit" class="logout-button">Выйти</button>
      </form>
    </div>

    <div class="account-info" th:if="${currentUser  == null}">
      <h2>Аккаунт</h2>
      <p>Вы не авторизованы.</p>
      <p><a th:href="@{/login}">Войти</a> или <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>

    <nav class="navigation">
      <h2>Навигация</h2>
      <ul>
        <li><a href="/blog-center">Главная</a></li>
        <li><a href="/aboutUs">О нас</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li th:if="${isAdmin}"><a href="/admin">Панель администрирования</a></li>
      </ul>
    </nav>
  </div>
  </aside>
</div>

</body>
</html>
