<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блоговый Центр</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesBlog.css">
</head>
<body>
<div class="text">
    <h1>Блоговый Центр</h1>
</div>
<div class="search-bar">
    <form action="#" th:action="@{/blog-center}" method="get">
        <input type="text" name="query" placeholder="Поиск..." th:value="${query}">
        <button type="submit">Найти</button>
    </form>
</div>
<div class="container">
    <main>
        <ul>
            <li th:each="post : ${posts}">
                <a th:href="@{/posts/{id}(id=${post.id})}" class="post-item"> <!-- Обернули весь блок в <a> -->
                    <div class="post-item-content">
                        <h2 th:text="${post.title}"></h2> <!-- Заголовок поста -->
                        <p class="post-author">Автор: <strong th:text="${post.author.username}">Имя автора</strong></p>
                    </div>
                </a>
            </li>
        </ul>


        <div class="pagination">
            <span th:if="${currentPage > 0}">
                <a th:href="@{/blog-center(page=${currentPage - 1}, query=${query})}" class="pagination-link">« Назад</a>
            </span>
            <span th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/blog-center(page=${page}, query=${query})}" th:text="${page + 1}"
                   th:class="${page == currentPage} ? 'pagination-link active' : 'pagination-link'"></a>
            </span>
            <span th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/blog-center(page=${currentPage + 1}, query=${query})}" class="pagination-link">Вперед »</a>
            </span>
        </div>
    </main>

    <div class="sidebar">
        <div class="account-info" th:if="${currentUser  != null}">
            <h2>Аккаунт</h2>
            <div class="account-details">
                <div class="account-circle">
                    <img th:src="${currentUser .avatarUrl}" alt="Профиль" class="profile-image">
                </div>
                <div class="account-text">
                    <p>Имя пользователя: <strong th:text="${currentUser .userLogin}">Пользователь</strong></p>
                    <p>Роль: <strong th:text="${currentUser .role}">Пользователь</strong></p>
                </div>
            </div>
            <p>
                <a th:href="@{/account-settings}" class="settings-button">Настройки аккаунта</a>
            </p>
            <p><a th:href="@{/logout}">Выйти</a></p>
        </div>


        <div class="account-info" th:if="${currentUser   == null}">
            <h2>Аккаунт</h2>
            <p>Вы не авторизованы.</p>
            <p><a th:href="@{/login}">Войти</a> или <a th:href="@{/register}">Зарегистрироваться</a></p>
        </div>

        <nav class="navigation">
            <h2>Навигация</h2>
            <ul>
                <li><a href="/blog-center">Главная</a></li>
                <li><a href="/aboutUs">О нас</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li th:if="${isAdmin}"><a href="/admin">Панель администрирования</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
