<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  <link rel="stylesheet" href="/css/stylesContacts.css"> <!-- Подключите свой CSS файл -->
</head>
<body>

<div class="container">
  <main>
    <h1>Контакты</h1>
    <p>Если у вас есть вопросы, предложения или комментарии, пожалуйста, заполните форму ниже, и мы свяжемся с вами как можно скорее.</p>

    <!-- Обновлено действие формы -->
    <form action="/send-message" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <label for="name">Ваше имя:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Ваш Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Сообщение:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <button type="submit">Отправить</button>
    </form>

    <!-- Блок для отображения сообщений об успехе и ошибках -->
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <h2>Наши контактные данные</h2>
    <p>Email: <a href="mailto:info@blog.com">info@blog.com</a></p>
    <p>Телефон: +7 (123) 456-78-90</p>
    <p>Адрес: г. Москва, ул. Примерная, д. 1</p>
  </main>

  <div class="sidebar">
    <div class="account-info" th:if="${currentUser  != null}">
      <h2>Аккаунт</h2>
      <div class="account-details">
        <div class="account-circle">
          <img th:src="${currentUser .avatarUrl}" alt="Профиль" class="profile-image">
        </div>
        <div class="account-text">
          <p>Имя пользователя: <strong th:text="${currentUser .username}">Пользователь</strong></p>
          <p>Роль: <strong th:text="${currentUser .role}">Пользователь</strong></p>
        </div>
      </div>
      <p>
        <a th:href="@{/account-settings}" class="settings-button">Настройки аккаунта</a>
      </p>
      <p><a th:href="@{/logout}">Выйти</a></p>
    </div>

    <div class="account-info" th:if="${currentUser  == null}">
      <h2>Аккаунт</h2>
      <p>Вы не авторизованы.</p>
      <p><a th:href="@{/login}">Войти</a> или <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>

    <nav class="navigation">
      <h2>Навигация</h2>
      <ul>
        <li><a href="/blog-center">Главная</a></li>
        <li><a href="/aboutUs">О нас</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li th:if="${isAdmin}"><a href="/admin">Панель администрирования</a></li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>
