<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Указываем правильный путь к CSS -->
</head>
<body>
<div class="container">
  <h1>Вход в систему</h1>
  <form th:action="@{/login}" method="post">
    <div class="input-group">
      <input type="text" name="username" placeholder="Имя пользователя" required/>
    </div>
    <div class="input-group">
      <input type="password" name="password" placeholder="Пароль" required/>
    </div>
    <button type="submit">Войти</button>
  </form>
</div>
</body>
</html>
