<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="/css/stylesRegister.css"> <!-- Подключение CSS файла -->
</head>
<body>
<div class="registration-container">
  <h1>Регистрация</h1>
  <form th:action="@{/register}" method="post" th:object="${user}">
    <input type="text" th:field="*{userLogin}" placeholder="Логин" required/>
    <input type="text" th:field="*{username}" placeholder="Имя пользователя" required/>
    <input type="password" th:field="*{password}" placeholder="Пароль" required/>
    <input type="email" th:field="*{email}" placeholder="Email" required/>
    <button type="submit">Зарегистрироваться</button>
  </form>

  <!-- Отображение ошибки, если она есть -->
  <div th:if="${error}" class="error">
    <p th:text="${error}"></p>
  </div>
</div>
</body>
</html>